<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">       
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>(A반_1조) J4U</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href = "{{ url_for('static', path = '/assets/멀티캠퍼스로고.png') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href = "{{ url_for('static', path = '/css/styles.css') }}" rel = "stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/" style="font-family: 'Noto Sans KR', sans-serif;">J4U</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/" style="font-family: 'Noto Sans KR', sans-serif;">홈</a></li>
                            <li class="nav-item"><a class="nav-link" href="/introduce_Service/" style="font-family: 'Noto Sans KR', sans-serif;">서비스 소개</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact/" style="font-family: 'Noto Sans KR', sans-serif;">우리와 함께하기</a></li>
                            <li class="nav-item dropdown">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-black py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2" style="font-family: 'Noto Sans KR', sans-serif;">팀명 : J4U </h1>
                                <p class="lead fw-normal text-white-50 mb-4" style="font-family: 'Noto Sans KR', sans-serif;">&nbsp;주제 : <br>&nbsp;택배서비스 자동화 및 간소화를<br>&nbsp;통한 서비스 품질개선 프로젝트</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href= "/introduce_Service/" style="font-family: 'Noto Sans KR', sans-serif;">서비스 소개</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href= "{{ url_for('static', path = '/file/A분반_2조_입원예측서비스개발_수정.pdf') }}" target = "_blank" style="font-family: 'Noto Sans KR', sans-serif;">설명자료 보기</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><video height="400" width="600" class="img rounded-3 my-5" src= "{{ url_for('static', path = '/file/홈페이지 탑재용.mp4') }}"  alt="..." muted autoplay loop/></div>
                        <!-- <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src= "{{ url_for('static', path = '/images/—Pngtree—cartoon hand drawn online drone_5331878.png') }}"  alt="..." style="width:480px; height:480px;"/></div> -->
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <!-- <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0" style="font-family: 'Noto Sans KR', sans-serif;">프로젝트 개요</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5" style="font-family: 'Noto Sans KR', sans-serif;">제목1(추후작성예정)</h2>
                                    <p class="mb-0" style="font-family: 'Noto Sans KR', sans-serif;">내용(추후작성예정)</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5" style="font-family: 'Noto Sans KR', sans-serif;">제목2(추후작성예정)</h2>
                                    <p class="mb-0" style="font-family: 'Noto Sans KR', sans-serif;">내용(추후작성예정)</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5" style="font-family: 'Noto Sans KR', sans-serif;">제목3(추후작성예정)</h2>
                                    <p class="mb-0" style="font-family: 'Noto Sans KR', sans-serif;">내용(추후작성예정)</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5" style="font-family: 'Noto Sans KR', sans-serif;">제목4(추후작성예정)</h2>
                                    <p class="mb-0" style="font-family: 'Noto Sans KR', sans-serif;">내용(추후작성예정)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Blog preview section-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder" style="font-family: 'Noto Sans KR', sans-serif;">팀원들</h2>
                                <p class="lead fw-normal text-muted mb-5" style="font-family: 'Noto Sans KR', sans-serif;">우리팀의 멤버들을 소개합니다!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-3 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="font-family: 'Noto Sans KR', sans-serif;">팀장</div>
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3" style="font-family: 'Noto Sans KR', sans-serif;">느낀점</h5></a>
                                    <p class="card-text mb-0" style="font-family: 'Noto Sans KR', sans-serif;">느낀점 작성파트입니다.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="{{ url_for('static', path = '/images/1455554987_users-1_icon-icons.com_53280.png') }}" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold" style="font-family: 'Noto Sans KR', sans-serif;">신재호</div>
                                                <div class="text-muted" style="font-family: 'Noto Sans KR', sans-serif;">팀장</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="font-family: 'Noto Sans KR', sans-serif;">팀원1</div>
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3" style="font-family: 'Noto Sans KR', sans-serif;">느낀점</h5></a>
                                    <p class="card-text mb-0" style="font-family: 'Noto Sans KR', sans-serif;">느낀점 작성파트입니다.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="{{ url_for('static', path = '/images/1455554996_users-11_icon-icons.com_53275.png') }}" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold" style="font-family: 'Noto Sans KR', sans-serif;">김지식</div>
                                                <div class="text-muted" style="font-family: 'Noto Sans KR', sans-serif;">팀원</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="font-family: 'Noto Sans KR', sans-serif;">팀원2</div>
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3" style="font-family: 'Noto Sans KR', sans-serif;">느낀점</h5></a>
                                    <p class="card-text mb-0" style="font-family: 'Noto Sans KR', sans-serif;">느낀점 작성파트입니다.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="{{ url_for('static', path = '/images/1455555007_users-16_icon-icons.com_53274.png') }}" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold" style="font-family: 'Noto Sans KR', sans-serif;">김진영</div>
                                                <div class="text-muted" style="font-family: 'Noto Sans KR', sans-serif;">팀원</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="font-family: 'Noto Sans KR', sans-serif;">팀원3</div>
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3" style="font-family: 'Noto Sans KR', sans-serif;">느낀점</h5></a>
                                    <p class="card-text mb-0" style="font-family: 'Noto Sans KR', sans-serif;">느낀점 작성파트입니다.</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="{{ url_for('static', path = '/images/1455555016_users-15_icon-icons.com_53267.png') }}" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold" style="font-family: 'Noto Sans KR', sans-serif;">조정범</div>
                                                <div class="text-muted" style="font-family: 'Noto Sans KR', sans-serif;">팀원</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder" style="font-family: 'Noto Sans KR', sans-serif;">우리의 서비스</h1>
                        <p class="lead fw-normal text-muted mb-0" style="font-family: 'Noto Sans KR', sans-serif;">지원하는 송장양식</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/우체국송장양식(빈칸).png') }}" alt="..." style="width:1000px; height:400px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/택배송장 인식파트(필드도식화).png') }}" alt="..." style="width:1000px; height:400px;"/><p></p>                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/경동택배.png') }}" alt="..." style="width:1000px; height:400px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/경동택배송장 인식파트(필드도식화).png') }}" alt="..." style="width:1000px; height:400px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/천일택배.jpg') }}" alt="..." style="width:1000px; height:250px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/천일택배송장 인식파트(필드도식화).png') }}" alt="..." style="width:1000px; height:250px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/한진택배.png') }}" alt="..." style="width:1000px; height:250px;"/><p></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3 mb-3" src="{{ url_for('static', path = '/images/한진택배송장 인식파트(필드도식화).png') }}" alt="..." style="width:1000px; height:250px;"/><p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                    <!-- Call to action-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white" style="font-family: 'Noto Sans KR', sans-serif;">우리와 함께하고 싶으시면 메일을 적어주세요.</div>
                                <div class="text-white-50" style="font-family: 'Noto Sans KR', sans-serif;">여러분의 참여를 기다립니다.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50" style="font-family: 'Noto Sans KR', sans-serif;">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white" style="font-family: 'Noto Sans KR', sans-serif;">Copyright &copy; whwjdqja58@naver.com</div></div>
                    <div class="col-auto">
                        <a class="link-light small" style="font-family: 'Noto Sans KR', sans-serif;">Privacy</a>
                        <span class="text-white mx-1" style="font-family: 'Noto Sans KR', sans-serif;">&middot;</span>
                        <a class="link-light small" style="font-family: 'Noto Sans KR', sans-serif;">Terms</a>
                        <span class="text-white mx-1" style="font-family: 'Noto Sans KR', sans-serif;">&middot;</span>
                        <a class="link-light small" style="font-family: 'Noto Sans KR', sans-serif;">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Core theme JS-->
        <script src="C:/Workspace/python/빅데이터 지능형서비스 개발 팀프로젝트/PJTJ4U/조정범/static/js/scripts.js"></script>
    </body>
</html>
